<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.dialogcompat.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".progress.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".popup.PopupPanelActivity"
            android:label="@string/title_activity_popup_panel"
            android:theme="@style/AppTheme" />

        <!-- Crouton -->
        <activity
            android:name=".crouton.CroutonActivity"
            android:label="@string/title_activity_crouton"
            android:theme="@style/AppTheme" />
        <activity android:name=".crouton.CroutonListViewActivity" />
        <activity android:name=".crouton.CroutonFragmentActivity" />
        <activity
            android:name=".toast.ToastActivity"
            android:label="@string/title_activity_toast"
            android:theme="@style/AppTheme" />
        <activity android:name=".bottomdialog.BottomDialogActivity"></activity>
    </application>

</manifest>